<%- include("./includes/head.ejs") %>
<%- include("./includes/header.ejs") %>
<%- include("./includes/sidebar.ejs") %>
<div class="contents">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-main">
          <h4 class="text-capitalize breadcrumb-title">Form Layouts</h4>
          <div class="breadcrumb-action justify-content-center flex-wrap">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#"><i class="uil uil-estate"></i>Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  form layouts
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-Vertical card-default card-md mb-4">
          <div class="card-header">
            <h6>Multiple Column</h6>
          </div>
          <div class="card-body py-md-30">
            <form action="/edit-user" method="POST" enctype="multipart/form-data" >

              <input type="hidden" name="id" value="<%= userData.id %>">

              <div class="row">
                <!-- <div class="card card-default card-md mb-4"> -->
                  <div class="card-body pb-md-40 pt-md-30">
                    <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Profile Picture</label>
                    <div class="custom-file">
                      <input name="image" class="form-control custom-file-input" type="file" id="customFile" value="<%= userData.image %>" >
                    </div>
                  </div>
                <!-- </div> -->
                <div class="col-md-6 mb-25">
                  <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Name</label>
                  <input
                    type="text"
                    name="name"
                    class="form-control ih-medium ip-gray radius-xs b-light px-15"
                    placeholder="Full Name"
                    value="<%= userData.name %>"
                  />
                </div>
                <div class="col-md-6 mb-25">
                  <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Email</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control ih-medium ip-gray radius-xs b-light px-15"
                    placeholder="Email"
                    value="<%= userData.email %>"
                  />
                </div>
                <div class="col-md-6 mb-25">
                  <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Country Code</label>
                  <input
                    type="text"
                    name="country_code"
                    class="form-control ih-medium ip-gray radius-xs b-light px-15"
                    placeholder="Country Code"
                    value="<%= userData.country_code %>"
                  />
                </div>
                <div class="col-md-6 mb-25">
                  <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Phone Number</label>
                  <input
                    type="number"
                    name="mobile"
                    class="form-control ih-medium ip-gray radius-xs b-light px-15"
                    placeholder="Phone Number"
                    value="<%= userData.mobile %>"
                  />
                </div>
                <div class="col-md-6 mb-25">
                  <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Gender</label>
                    <select class="form-control px-15 " id="exampleFormControlSelect1" name="gender">
                    <option >Select</option>
                    <option value="male" <%= userData.gender==='Male' && 'selected' %> >Male</option>
                    <option  value="female" <%= userData.gender==='female' && 'selected' %> >Female</option>
                    </select>
                </div>
                <div class="col-md-6 mb-25">
                  <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Age</label>
                  <input
                    type="number"
                    name="age"
                    class="form-control ih-medium ip-gray radius-xs b-light px-15"
                    placeholder="Age"
                    value="<%= userData.age %>"
                  />
                </div>
                  <div class="col-md-6 mb-25">
                    <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Date Of Birth</label>
                    <div class="position-relative">
                      <input
                        type="text"
                        name="dob"
                        class="form-control ih-medium ip-light radius-xs b-light px-15"
                        id="datepicker8"
                        placeholder="Date Of Birth"
                        value="<%= userData.dob %>"
                      />
                    </div>
                  </div>
                <div class="col-md-6 mb-25">
                  <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Height</label>
                  <input
                    type="number"
                    name="height"
                    class="form-control ih-medium ip-gray radius-xs b-light px-15"
                    placeholder="Height"
                    value="<%= userData.height %>"
                  />
                </div>
                <div class="col-md-6 mb-25">
                  <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Weight</label>
                  <input
                    type="number"
                    name="weight"
                    class="form-control ih-medium ip-gray radius-xs b-light px-15"
                    placeholder="Weight"
                    value="<%= userData.weight %>"
                  />
                </div>
                <div class="col-md-6 mb-25">
                  <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Physical Activity Level</label>
                    <select class="form-control px-15 " id="exampleFormControlSelect1" name="physical_activity_level">
                    <option>Select</option>
                    <option value="vigorous" <%= userData.physical_activity_level==="vigorous" && 'selected' %>>Vigorous</option>
                    <option value="modrate" <%= userData.physical_activity_level==="modrate" && 'selected' %> >Moderate</option>
                    <option value="gentle" <%= userData.physical_activity_level==="gentle" && 'selected' %>>Gentle</option>
                    </select>
                </div>
                <div class="col-md-6 mb-25">
                  <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Medical Conditions</label>
                  <input
                    type="text"
                    name="medical_conditions"
                    class="form-control ih-medium ip-gray radius-xs b-light px-15"
                    placeholder="Medical Conditions"
                    value="<%= userData.medical_conditions %>"
                  />
                </div>
                <div class="col-md-6 mb-25">
                  <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Allergies</label>
                  <input
                    type="text"
                    name="allergies"
                    class="form-control ih-medium ip-gray radius-xs b-light px-15"
                    placeholder="Allergies"
                    value="<%= userData.allergies %>"
                  />
                </div>
                <div class="col-md-6 mb-25">
                  <label for="formGroupExampleInput" class="color-dark fs-14 fw-500 align-center mb-10">Diet Preferences</label>
                  <input
                    type="text"
                    name="diet_preferences"
                    class="form-control ih-medium ip-gray radius-xs b-light px-15"
                    placeholder="Diet Preferences"
                    value="<%= userData.diet_preferences %>"
                  />
                  </div>
                <div class="col-md-6">
                  <div class="layout-button mt-0">
                    <button
                      type="button"
                      class="btn btn-default btn-squared btn-light px-20"
                    >
                      cancel
                    </button>
                    <button
                      class="btn btn-primary btn-default btn-squared px-30"
                    >
                      save
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("./includes/footer.ejs") %>